/* Testing this for starting project */
* {
background:rgba(0,0,0,.1);
}





/*---------------------------
  #UNIVERSAL-STYLES
---------------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}




/*---------------------------
  #HEADER
---------------------------*/

nav {
  height: 4rem;
  display: flex;
}

.mobile {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header nav ul {
  align-items: center;
}

.mobile ul li {
  display: inline-block;
}





/*---------------------------
  #BANNER
---------------------------*/

.lg-media img {
  max-width: 100%;
}

.banner-info {
  padding: 2rem 1rem;
  max-width: 375px;
  margin: 0 auto;
}

.banner-info p {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.banner-btn {
  display: block;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  width: 100%;
  padding: .5rem 0;
  text-align: center;
}





/*---------------------------
  #CAMPUS-INFO
---------------------------*/

.campus-info {
  margin: 1rem 1rem 0 1rem;
}

.campus-info__img img {
  max-width: 100%;
}

.campus-info__details {
  margin: 2rem 0;
  padding: 0 3rem 0 1rem;
}

.campus-info__details h2, p {
  padding-bottom: 0.5rem;
}

.campus-info__details p {
  line-height: 1.3rem;
}

.campus-info__details a {
  text-decoration: none;
}

.campus-info__img .desktop {
  display: none;
}

 .campus-info__banner {
  display: none
}

@media only screen and (min-width: 600px) {

  .campus-info__img .mobile {
    display: none;
  }

  .campus-info__img {
    width: 35%;
  }

  .campus-info__img .desktop {
    display: block;
  }

  .campus-info__img img {
    width: 85%;
    height: auto;
    padding: 1rem 0 1rem 1rem;
  }

  .campus-info__box {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .campus-info__details {
    width: 65%;
    padding-left: 0;
  }
}

@media only screen and (min-width: 720px) and (max-width: 800px) {

  .campus-info {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .campus-info__banner {
    display: block;
  }

  .campus-info__wrapper {
    margin: 0 5rem;
  }
}



/*---------------------------
  #CAMPUS-COURSES
---------------------------*/

.courses h1 {
  text-align: center;
  padding-top: 2rem;
}

.courses-wrapper {
  margin: 2rem 1rem;
}

.course-box {
  padding: 2rem 1rem;
  margin-bottom: 0.5rem;
}

.course-box__img, .course-box__info {
  display: none;
}






/*---------------------------
  #THESIS
---------------------------*/

.thesis h1 {
  text-align: center;
  padding: 2rem 0;
}

.lg-media video {
  max-width: 100%;
  padding-bottom: 1.5rem;
}





/*---------------------------
  #FOOTER
---------------------------*/

footer {
  font-size: 0.75rem;
  padding: 1rem;
}
