/*---------------------------
  #NON-USER-FONTS
---------------------------*/

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}





/* Testing this for starting project */
* {
/* background:rgba(0,0,0,.1); */
}





/*---------------------------
  #UNIVERSAL-STYLES
---------------------------*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Poppins';
  font-weight: 300;
  /* color: rgb(169, 172, 179); */
  color: rgb(123, 123, 123);
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2 {
  font-family: 'Poppins';
  font-weight: 600;
  color: rgb(86, 89, 95);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-weight: 500;
  font-size: 1.1rem;
}

h3 {
  /* font-size: 1.2rem; */
}

p {
  font-size: 0.80rem;
  line-height: 1.3rem;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 0.85rem;
}

.site-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

/*--  SECTION-INFO/POSTER  ==*/

.section-info__details {
  margin: 2rem 0;
  /* padding: 0 3rem 0 1rem; */
}

.section-info__details p {
  padding: 0.5rem 0;
}

@media only screen and (min-width: 450px) {

  /*  section-info:
  adjust image size, center text  */

  .section-info__box {
    max-width: 75%;
    margin: 0 auto;
  }

  .section-info__details {
    padding: 0;
    text-align: center;
  }
}


@media only screen and (min-width: 550px) {

  /*  section-info:
   Large screen layout  */

   .section-info__box {
     display: flex;
     align-items: center;
   }

  .section-info__img {
    width: 35%;
    margin: 1rem;
  }

  .section-info__img--mirror {
    order: 1;
  }

  .section-info__details {
    margin: 0;
    width: 70%;
    padding-left: 0;
    text-align: left;
  }

  .section-info__details--mirror {
    text-align: right;
  }
}

@media only screen and (min-width: 720px) {

  /* section-poster/wrapper:
   Tablet portrait layout */

  .section-poster__text {
    padding: 2rem 1rem;
    text-align: center;
  }

  .section-poster__text p {
    padding: 1.5rem 0 2rem 0;
  }

  .section-poster__text span {
    font-size: 0.77rem;
  }

  .section-info__wrapper {
    margin: 0 5rem;
  }
}


@media only screen and (min-width: 805px) {

  /*  section-poster/info:
  Tablet landscape, desktop layout  */

  .section-poster {
    max-width: 60%;
  }

  .section-poster__media {
    padding: 2rem 1.5rem;
  }

  .section-poster__text {
    text-align: left;
  }

  .section-info__box {
    max-width: 100%;
    margin: 0;
  }

  .section-info__img--mirror {
    order: 0;
  }

  .section-info__details {
    padding: 0;
    width: 50%;
  }

  .section-info__details--mirror {
    text-align: left;
  }
}








/*---------------------------
  #HEADER
---------------------------*/

header {

}

.desktop-nav {
  display: none;
}

nav {
  height: 4rem;
  display: flex;
}

.mobile-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header nav ul {
  align-items: center;
}

@media only screen and (min-width: 720px) {

  /*  Larger nav bar and icons
  for tablets in portrait  */

  nav {
    height: 5rem;
  }

  .mobile-nav li a img {
    height: 45px;
  }
}

@media only screen and (min-width: 805px) {

  /*  Remove mobile, insert desktop; navigation  */

  nav {
    height: 4rem;
    padding: 0 1.5rem;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    width: 100%;
    display: flex;
  }

  .desktop-nav li a {
    display: flex;
    align-items: center;
  }

  .logo {
    flex: 1;
  }

  .desktop-nav--spaceing {
    padding-left:  1rem;
  }
}

@media only screen and (min-width: 1200px) {

  /*  Always on-screen nav bar for desktop  */

  body {
    position: relative;
    top: 4rem;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
  }
}



/*---------------------------
  #BANNER
---------------------------*/

.banner {
  background-color: rgb(201, 206, 216);
}

.banner-info {
  padding: 2rem 1rem;
  max-width: 375px;
  margin: 0 auto;
}

.banner-info p {
  color: rgb(86, 89, 98);
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.banner-btn {
  background-color: rgb(68, 84, 121);
  color: white;
  display: block;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  width: 100%;
  padding: .5rem 0;
  text-align: center;
}

@media only screen and (min-width: 450px) {
  .banner-info {
    text-align: center;
  }
}

@media only screen and (min-width: 720px) {

  /*  Increase button size for
  tablets in portrait  */

  .banner-info {
    max-width: 65%;
  }

  .banner-btn {
    padding: 1.5rem 0;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 805px) {

  /*  Larger screen layout  */

  .banner-container {
    display: flex;
    align-items: center;
  }

  .banner-info {
    max-width: 375px;
    margin: 0;
    text-align: left;
  }

  .banner-img {
    padding: 2rem 1.5rem;
    max-width: 60%;
  }

  .banner-btn {
    padding: .5rem 0;
    font-size: 1.3rem;
  }
}




/*---------------------------
  #CAMPUS-INFO
---------------------------*/

.campus {
  margin: 1rem 1rem 0 1rem;
}

.section-info__img .desktop {
  display: none;
}

 .campus .section-poster {
  display: none
}

@media only screen and (min-width: 550px) {

  /*  Larger screen layout  */

  .section-info__img .mobile {
    display: none;
  }

  .section-info__img .desktop {
    display: block;
  }
}

@media only screen and (min-width: 720px) {

  /*  Display section-poster  */

  .campus {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .campus .section-poster {
    display: block;
  }
}

@media only screen and (min-width: 805px) {

  /*  Tablet landscape, desktop layout  */

  .campus {
    flex-direction: row;
  }

  .campus .section-poster {
    border-right: 1px solid lightgrey;
  }

  .campus .section-poster__text {
    padding: 0 1.5rem 2rem 1.5rem;
  }

  /* .campus .section-poster__text p {
    padding: 1.5rem 0 2rem 0;
  } set earlier at univ 720px*/

  .campus .section-info__wrapper {
    margin: 1rem 0 0 0;
    /* max-width: 40%; does nothing*/
  }

  .campus .section-info__box:nth-of-type(2) {
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
  }
}




/*---------------------------
  #CAMPUS-COURSES
---------------------------*/

.courses h1 {
  text-align: center;
  padding: 2rem 0;
}

.courses-wrapper {
  margin: 2rem 1rem;
}

.course-box {
  background-color: rgb(201, 206, 216);
  padding: 2rem 1rem;
  margin-bottom: 0.5rem;
}

.course-box__img,
.course-box__info {
  display: none;
}

@media only screen and (min-width: 550px) {

  .course-box__img,
  .course-box__info {
    display: block;
  }

  .courses {
    background-color: rgb(201, 206, 216);
    padding-bottom: 2rem;
  }

  .courses-wrapper {
    max-width: 534px;
    height: 946px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  .course-box {
    background-color: white;
    padding: 0;
    margin: 0;
    width: 251px;
    height: 294px;
  }

  .course-box h2 {
    padding: 1rem 0 1rem 1rem;
  }

  .course-box__info {
    padding-left: 1rem;
    width: 90%;
  }

  .course-box__info h3 {
    padding: 0.5rem 0;
  }
}

/* @media only screen and (min-width: 720px) { */

  /*  Change from course labels to a
  2 x 3 grid of couse cards  */

  /* .course-box__img,
  .course-box__info {
    display: block;
  }

  .courses {
    background-color: rgb(201, 206, 216);
    padding-bottom: 2rem;
  }

  .courses-wrapper {
    max-width: 632px;
    height: 994px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  .course-box {
    background-color: white;
    padding: 0;
    margin: 0;
    width: 300px;
    height: 310px;
  }

  .course-box h2 {
    padding: 1rem 0 1rem 1rem;
  }

  .course-box__info {
    padding-left: 1rem;
    width: 90%;
  }

  .course-box__info h3 {
    padding: 0.5rem 0;
  }
} */

@media only screen and (min-width: 850px) {

  /*  Course card grid 3 x 2 change,
  desktop/tablet landscape layout  */

  .courses-wrapper {
    max-width: 816px;
    height: 620px;
  }
}

@media only screen and (min-width: 1200px) {

  /*  Large screen desktop layout  */

  .courses-wrapper {
    max-width: 1056px;
    height: 748px;
  }

  .course-box {
    width: 331px;
    height: 358px;
  }

  .course-box__info p {
    font-size:
  }
}






/*---------------------------
  #THESIS
---------------------------*/

h1.thesis-title {
  text-align: center;
  padding: 1.5rem 0 2rem 0;
}

.thesis {
  padding-bottom: 1.5rem;
}

.thesis .section-poster__text,
.thesis .section-info__box {
  display: none;
}

@media only screen and (min-width: 720px) {

  /*  Display section poster/info  */

  .thesis .section-poster__text {
    display: block;
  }

  .thesis .section-info__box {
    display: flex;
  }
}

@media only screen and (min-width: 805px) {

  /*  Desktop layout  */

  .thesis {
    display: flex;
  }

  .thesis .section-poster__media {
    padding: 0 1.5rem;
  }

  .thesis .section-poster__text {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
  }

  .thesis .section-info__wrapper {
    margin: 0;
  }
}





/*---------------------------
  #FOOTER
---------------------------*/

footer {
  font-size: 0.75rem;
  background-color: white;
}

footer>h4 {
  padding: 1rem 1.5rem;
}

footer span {
  display: none;
}

@media only screen and (min-width: 600px) {

  /*  Tablet-portrait layout  */

  footer span {
    display: inline-block;
    float: right;
  }

  .footer--space {
    padding-left: .5rem;
  }
}

@media only screen and (min-width: 960px) {

  /*  Desktop layout  */

  footer {
    margin-bottom: 2.5rem;
  }
}
