/* Testing this for starting project */
* {
background:rgba(0,0,0,.1);
}





/*---------------------------
  #UNIVERSAL-STYLES
---------------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}








/*---------------------------
  #HEADER
---------------------------*/

header {

}

.desktop-nav {
  display: none;
}

nav {
  height: 4rem;
  display: flex;
}

.mobile-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header nav ul {
  align-items: center;
}

.mobile-nav ul li {
  display: inline-block;
}

@media only screen and (min-width: 720px) {

  nav {
    height: 5rem;
  }

  .mobile-nav li a img {
    height: 45px;
  }
}

@media only screen and (min-width: 805px) {


  nav {
    height: 4rem;
    padding: 0 1.5rem;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    width: 100%;
    display: flex;
  }

  .logo {
    height: 4rem;
    flex: 1;
  }

  .logo img {
    position: relative;
    top: .70rem;
  }

  .desktop-nav--spaceing {
    padding-left:  1rem;
  }
}

@media only screen and (min-width: 1200px) {

  /*  Fixed nav bar for desktop  */

  body {
    position: relative;
    top: 4rem;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
  }


}



/*---------------------------
  #BANNER
---------------------------*/

.banner-info {
  padding: 2rem 1rem;
  max-width: 375px;
  margin: 0 auto;
}

.banner-info p {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.banner-btn {
  display: block;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  width: 100%;
  padding: .5rem 0;
  text-align: center;
}

@media only screen and (min-width: 720px) {

  .banner-info {
    max-width: 65%;
  }

  .banner-btn {
    padding: 1.5rem 0;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 805px) {

  .banner {
    display: flex;
    align-items: center;
  }

  .lg-media {
    padding: 2rem 1.5rem;
    max-width: 60%;
  }

  .banner-btn {
    padding: .5rem 0;
    font-size: 1.3rem;
  }
}




/*---------------------------
  #CAMPUS-INFO
---------------------------*/

.campus {
  margin: 1rem 1rem 0 1rem;
}

.campus-info__details {
  margin: 2rem 0;
  padding: 0 3rem 0 1rem;
}

/* .campus-info__details h2, p {
  padding-bottom: 0.5rem;
} fix!!!!! */

.campus-info__details p {
  line-height: 1.3rem;
}

.campus-info__img .desktop {
  display: none;
}

 .campus .section-poster {
  display: none
}

@media only screen and (min-width: 600px) {

  .campus-info__img .mobile {
    display: none;
  }

  .campus-info__img {
    width: 35%;
  }

  .campus-info__img .desktop {
    display: block;
  }

  .campus-info__img img {
    width: 85%;
    height: auto;
    padding: 1rem 0 1rem 1rem;
  }

  .campus-info__box {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .campus-info__details {
    width: 65%;
    padding-left: 0;
  }
}

@media only screen and (min-width: 720px) {

  .campus {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .campus .section-poster {
    display: block;
  }

  .section-poster__text {
    padding: 2rem 1rem;
  }

  .section-poster__text p {
    padding: 2rem 0;
    line-height: 1.3rem;
  }

  .section-poster__text p,
  .section-poster__text span {
    font-size: 1.3rem;
  }

  .campus-info__wrapper {
    margin: 0 5rem;
  }

  .campus-info__details h2 {
    font-size: 2rem;
  }

  /* .campus-info__details p, a {
    font-size: 1.3rem;
  }  fix this !!!!! */
}

@media only screen and (min-width: 805px) {

  .campus {
    flex-direction: row;
  }

  .section-poster {
    max-width: 60%;
  }

  .section-poster__media {
    padding: 2rem 1.5rem;
  }

  .campus .section-poster__text {
    padding: 0 1.5rem 2rem 1.5rem;
  }

  .campus-info__wrapper {
    margin: 0;
    max-width: 40%;
  }

  /* .campus-info__details h2, p, a {
    font-size: 1rem;
  }  fix this!!!!!!*/

  .campus-info__img  {
    width: 35%;
  }

}





/*---------------------------
  #CAMPUS-COURSES
---------------------------*/

.courses h1 {
  text-align: center;
  padding: 2rem 0;
}

.courses-wrapper {
  margin: 2rem 1rem;
}

.course-box {
  padding: 2rem 1rem;
  margin-bottom: 0.5rem;
}

.course-box__img, .course-box__info {
  display: none;
}

@media only screen and (min-width: 720px) {

  .course-box__img, .course-box__info {
    display: block;
  }

  .courses {
    margin-bottom: 2rem;
  }

  .courses-wrapper {
    max-width: 632px;
    height: 1046px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  .course-box {
    padding: 0;
    margin: 0;
    width: 300px;
    height: 324px;
  }

  .course-box h2 {
    padding: 1rem 0 1rem 1rem;
  }

  .course-box__info {
    padding-left: 1rem;
    width: 90%;
  }

  .course-box__info h3 {
    padding: 0.5rem 0;
  }

  .course-box__info p {
    line-height: 1.3;
  }
}

@media only screen and (min-width: 968px) {

  .courses-wrapper {
    max-width: 964px;
    height: 670px;
  }
}

@media only screen and (min-width: 1200px) {

  .courses-wrapper {
    max-width: 1056px;
    height: 748px;
  }

  .course-box {
    width: 331px;
    height: 358px;
  }

  .course-box__info p {
    font-size: 1.2rem;
  }
}






/*---------------------------
  #THESIS
---------------------------*/

h1.thesis-title {
  text-align: center;
  padding: 1.5rem 0 2rem 0;
}

.thesis {
  padding-bottom: 1.5rem;
}

.thesis .section-poster__text {
  display: none;
}

@media only screen and (min-width: 720px) {

  .thesis .section-poster__text {
    display: block;
  }
}





/*---------------------------
  #FOOTER
---------------------------*/

footer {
  font-size: 0.75rem;
}

footer>h4 {
  padding: 1rem 1.5rem;
}

footer span {
  display: none;
}

@media only screen and (min-width: 600px) {

  /* Tablet-portrait */

  footer span {
    display: inline-block;
    float: right;
  }

  .footer--space {
    padding-left: .5rem;
  }
}
